---
/**
 * StrategicHUD.astro - High-Performance Market Intelligence HUD
 */
import MarketBreadthWidget from '../molecules/MarketBreadthWidget.astro';
import VolumeIntelligenceWidget from '../molecules/VolumeIntelligenceWidget.astro';
import MarketReturnWidget from '../molecules/MarketReturnWidget.astro';
import TemporalIntelligenceWidget from '../molecules/TemporalIntelligenceWidget.astro';

interface Props {
    upCount: number;
    downCount: number;
    flatCount: number;
    totalStocks: number;
    totalVolume: number;
    avgChange: number;
    dataDate: string;
}

const { upCount, downCount, flatCount, totalStocks, totalVolume, avgChange, dataDate } =
    Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 animate-fade-up">
    <MarketBreadthWidget
        upCount={upCount}
        downCount={downCount}
        flatCount={flatCount}
        totalStocks={totalStocks}
    />

    <VolumeIntelligenceWidget totalVolume={totalVolume} />

    <MarketReturnWidget avgChange={avgChange} />

    <TemporalIntelligenceWidget dataDate={dataDate} />
</div>
